@import url('https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #3B3743;
}

header {
    background-color: aliceblue;
    padding: 25px;
}

header > h1 {
    color: #3B3743;
    font-size: 40px;
    font-family: 'Do Hyeon', sans-serif;
    text-align: center;
}

.player {
    position: relative;
    margin: 50px auto;
    background-color: #27252D;
    font-family: 'Oxygen', sans-serif;
    color: white;
    padding: 50px;
    text-align: center;
    width: 590px;
    border: 5px solid 27252D;
    border-radius: 10px;
}

/** Scoreboard **/

.scoreboard-player1 {
    position: absolute;
    background: #6D9F71;
    font-family: 'Oxygen', sans-serif;
    font-size: large;
    top: 35px;
    left: -75px;
    padding: 15px;
    box-shadow: 0 2.5px 10px #000000;
    border-radius: 5px;
}

.scoreboard-player2 {
    position: absolute;
    background: #CF4D6F;
    font-family: 'Oxygen', sans-serif;
    font-size: large;
    top: 35px;
    right: -75px;
    padding: 15px;
    box-shadow: 0 2.5px 10px #000000;
    border-radius: 5px;

}

/** Main game container **/

.game-container {
    margin: auto;
    width: 590px;
    height: 590px;
    padding: 0px;
    position: relative;
}

/** Game square style class **/

.game-square {
    width: 200px;
    height: 200px;
    position: absolute;
    top: -5px;
    left: -5px;
    transition: ease 300ms;
}

.game-square > img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    transition: ease 300ms;
    margin-top: 20px;
}

.game-square:hover {
    cursor: pointer;
    background-color: #B7D5D4;;
}

.player2 > em {
    font-style: normal;
    color: #CF4D6F;
}

.player1 > em {
    font-style: normal;
    color: #6D9F71;
}

.active-player1:hover {
    background-color: #CEDFCF;
}

.active-player2:hover {
    background-color: #EAAEBE;
}

/** Individual boxes **/

#l1r1 {
    border-right: 5px solid white;
    border-bottom: 5px solid white;
    position: absolute;
    left: -5px;
}

#l1r2 {
    border-bottom: 5px solid white;
    position: absolute;
    left: 190px;
}

#l1r3 {
    border-left: 5px solid white;
    border-bottom: 5px solid white;
    position: absolute;
    left: 385px;
}

#l2r1 {
    border-right: 5px solid white;
    border-bottom: 5px solid white;
    position: absolute;
    top: 190px;
    left: -5px;
}

#l2r2 {
    border-bottom: 5px solid white;
    border-right: 5px solid white;
    position: absolute;
    top: 190px;
    left: 190px;
}

#l2r3 {
    border-bottom: 5px solid white;
    position: absolute;
    top: 190px;
    left: 385px;
}

#l3r1 {
    border-right: 5px solid white;
    position: absolute;
    top: 385px;
    left: -5px;
}

#l3r2 {
    border-right: 5px solid white;
    position: absolute;
    top: 385px;
    left: 190px;
}

#l3r3 {
    position: absolute;
    top: 385px;
    left: 385px;
}
